includes:
	- phpstan-baseline.neon

parameters:
	level: 7
	treatPhpDocTypesAsCertain: false
	paths:
		- src/
	ignoreErrors:
			- identifier: missingType.generics
			- identifier: missingType.iterableValue
