parameters:
	ignoreErrors:
		-
			message: '#^Creating callable from array\{mixed, non\-falsy\-string\} but it might not be a callable\.$#'
			identifier: callable.nonCallable
			count: 2
			path: src/AuthorizationService.php

		-
			message: '#^Method Authorization\\Controller\\Component\\AuthorizationComponent\:\:can\(\) should return bool but returns Authorization\\Policy\\ResultInterface\|bool\.$#'
			identifier: return.type
			count: 1
			path: src/Controller/Component/AuthorizationComponent.php

		-
			message: '#^Method Authorization\\Controller\\Component\\AuthorizationComponent\:\:canResult\(\) should return Authorization\\Policy\\ResultInterface but returns Authorization\\Policy\\ResultInterface\|bool\.$#'
			identifier: return.type
			count: 1
			path: src/Controller/Component/AuthorizationComponent.php

		-
			message: '#^Cannot call method getIdentifier\(\) on array\|Authentication\\IdentityInterface\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Identity.php

		-
			message: '#^Cannot call method getOriginalData\(\) on array\|Authentication\\IdentityInterface\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Identity.php
